body {
  display: block;
}

.header__container {
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  border: border-box;
}
.header__background {
  background: url("../img/Mask Group.png");
  height: 100vh;
}
.header__nav {
  padding: 20px 0 90px 0;
  margin: 0 auto;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__menu_logo {
  min-width: 241px;
  padding-left: 215px;
}
.header__menu_social {
  padding-right: 215px;
}
.header__a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo", serif;
  margin-right: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: Source Sans Pro;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
.header__text {
  text-align: center;
  font-family: Montserrat;
}
.header__text_h {
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.header__text_p {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}
.header__arrow {
  padding-top: 240px;
}
.header__arrow_down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.projects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  border: border-box;
}
.projects__h2 {
  font-family: Montserrat;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
  padding-bottom: 95px;
}
.projects__line {
  text-align: center;
}
.projects__project1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.projects__project1_pic {
  position: relative;
  width: 60%;
}
.projects__project1_pic1 {
  position: absolute;
  z-index: 1;
}
.projects__project1_pic2 {
  position: absolute;
  z-index: 2;
  left: 215px;
  top: 57px;
}
.projects__project1_blog {
  width: 30%;
  padding-top: 100px;
}
.projects__project1_blog_p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #2C4058;
}
.projects__project1_blog_btn {
  width: 190px;
  height: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}
.projects__project1_blog_h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  color: #2C4058;
}
.projects__project1_blog_h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #2C4058;
}
.projects__project1_location {
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  padding-top: 28px;
}
.projects__project1_location_icon {
  padding-right: 10px;
}
.projects__project2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
}
.projects__project2_pic {
  position: relative;
  width: 60%;
}
.projects__project2_pic1 {
  position: absolute;
  z-index: 1;
  right: 1px;
}
.projects__project2_pic2 {
  position: absolute;
  z-index: 2;
  right: 215px;
  top: 57px;
}
.projects__project2_blog {
  width: 30%;
  padding: 100px 0px 0px 133px;
}
.projects__project2_blog_p {
  font-family: Open Sans;
  font-size: 18px;
  color: #2C4058;
}
.projects__project2_blog_btn {
  width: 190px;
  height: 50px;
  font-family: Montserrat;
  font-size: 14px;
  color: #000000;
}
.projects__project2_blog_h2 {
  font-family: Montserrat;
  font-size: 44px;
  color: #2C4058;
}
.projects__project2_blog_h4 {
  font-family: Montserrat;
  font-size: 22px;
  color: #2C4058;
}
.projects__project2_location {
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  padding-top: 28px;
}
.projects__project2_location_icon {
  padding-right: 10px;
}

.news {
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  border: border-box;
}
.news__background {
  background: url("../img/news city 2 @2x 1.png");
  height: 100vh;
}
.news__line {
  text-align: center;
}
.news__h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
}
.news__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.news__blocks_blog {
  width: 25%;
  background: #FFFFFF;
}
.news__blocks_blog_h4 {
  font-family: Montserrat;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  line-break: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.news__blocks_blog_p {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 25px;
  color: #2C4058;
  line-break: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.news__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.gallery {
  display: block;
  padding: 160px;
}
.gallery__h2 {
  font-family: Montserrat;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
  padding-bottom: 95px;
}
.gallery__line {
  text-align: center;
}
.gallery__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 10px 1fr 10px 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: 1fr 10px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}
.gallery__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.gallery__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.gallery__grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.gallery__grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.gallery__grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.gallery__grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.gallery__grid_first {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}